Package: bqta
Architecture: amd64
Maintainer: Lee Archer <lee@connected-ventures.com>
Priority: optional
Version: CI_VERSION
Description: Create BigQuery tables and send Slack notifications on success/failure
